html {
    font-size: clamp(16px, 1.4vw, 20px);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Instrument Sans, "sans-serif";
}

.login-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    width: clamp(320px, 48vw, 520px);
    padding: 1.2rem;
}

form {
    display: flex;
    flex-direction: column;
}

form>label {
    margin-bottom: 2rem;
    font-size: 1rem;
}

form input {
    margin-bottom: 1rem;
    border-radius: 2px;
    max-width: 100%;
    height: 2.2rem;
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
}

form button {
    width: 75%;
    padding: 0.6rem;
    border-radius: 4px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    align-self: center;
    margin-top: 1rem;
    height: 3rem;
    font-size: 1rem;
}

form>h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 2.5rem;
    font-size: clamp(1.5rem, 2.5vw, 2.2rem);
}

.login-alert {
    margin: 0 auto;
}

@media (max-width: 600px) {
    .login-form {
        max-width: 75%;
    }
}